{% extends 'admin/base.html' %}

<!-- 后台管理的登录页面去掉头部和尾部 -->
{% block admin_header %}
{% endblock %}

{% block admin_footer %}
{% endblock %}

{% block content %}
    <div id="content-container" class="container">
        <div class="es-section login-section">
            <h1 class="text-center">{{ _('Adminstrator') }} {{ _('Sign in') }}</h1>

            <div class="login-main">
                <form id="login-form" class="form-vertical" method="post" action="{{ url_for('admin.auth', next=request.args.get('next')) }}">
                    <div class="form-group mbl">
                        <label class="control-label" for="login_username">{{ _('Email') }}Email</label>
                        <input class="form-control input-lg" id="login_email" type="text" name="email" value=""
                               required placeholder="{{ _('Email Address') }}">
                    </div>
                    <div class="form-group mbl">
                        <label class="control-label" for="login_password">{{ _('Password') }}</label>
                        <div class="controls">
                            <input class="form-control input-lg" id="login_password" type="password" name="password" required
                                   value="" placeholder="{{ _('Password') }}">
                        </div>
                    </div>
                    {% if message %}
                        <div class="alert alert-danger">{{ message }}</div>
                    {% endif %}
                    <div class="form-group mbl">
                        <button type="submit" class="btn btn-primary btn-lg btn-block">{{ _('Sign in') }}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}