{% extends 'admin/base.html' %}

{% block header_ext %}
    <link href="{{ url_for('static', filename='css/simplemde.min.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/simplemde.min.js') }}"></script>
{% endblock %}

{% block content %}
    <div id="content-container" class="container">
        <div class="panel panel-default">
            <div class="panel-body">
                <form action="{{ url_for('admin.article_edit', aid=article.id) }}" method="POST" onsubmit="validateForm()">
                    <div class="form-group">
                        <label>Title</label>
                        <input type="text" class="form-control" name='title' value="{{ article.title }}" required><br/>
                    </div>

                    <div class="form-group">
                        <label>Content</label>
                        <textarea name="content" data-provide="markdown"
                                  id="target-editor" rows="30">{{ article.content }}</textarea>
                    </div>

                    <div class="form-submit text-right">
                        <input class='btn btn-success' id='submit' type='submit'>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer_ext %}

    <script>
        var simplemde = new SimpleMDE({
            element: document.getElementById("target-editor"),
            autosave: true,
            showIcons: ["code", "table"], tabSize: 4,
        });
        function validateForm() {
            var x = simplemde.value();
            if (x == null || x == "") {
                alert("请输入资讯内容");
                return false;
            }
        }
    </script>
{% endblock %}
