<div class="panel-body">
    <div class="row">
        {% for g in groups %}
            <div class="col-md-4 col-sm-6">
                <div class="media media-group group-media-sm">
                    <div class="media-left">
                        <a href="{{ url_for('group.group_view', gid=g.id) }}" class="pull-left ">
                            <img src="{{ g.logo }}" alt="{{ g.title }}" class="avatar-square-md">
                        </a>
                    </div>
                    <div class="media-body">
                        <div class="title">
                            <a class="gray-darker" href="{{ url_for('group.group_view', gid=g.id) }}">{{ g.title }}</a>
                        </div>
                        <div class="metas">
                            <span><i class="es-icon es-icon-textsms"></i>{{ g.topic_num }}</span>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{# groups #}