{% extends 'base.html' %}
{% block content %}
    <div id="content-container" class="container">
        <div class="es-section login-section">
            <div class="login-main">
                <form class="form-vertical" method="post" novalidate="novalidate" data-widget-cid="widget-1">
                    <div class="form-group mbl">
                        <label class="control-label" for="password">New Password</label>
                        <input class="form-control input-lg" id="password" type="password" name="password"
                               data-widget-cid="widget-2">
                        <div class="help-block"></div>
                    </div>
                    <div class="form-group mbl">
                        <label class="control-label" for="password2">New Password Again</label>
                        <input class="form-control input-lg" id="password2" type="password" name="password2">
                        <div class="help-block" style="display:none;"></div>
                    </div>
                    {% if message_p %}
                        <div class="alert alert-danger">{{ message_p }}</div>
                    {% endif %}
                    <div class="form-group mbl">
                        <button type="submit" class="btn btn-primary btn-lg btn-block">save</button>
                    </div>

                </form>

            </div>
        </div>
    </div>
{% endblock %}

